<div class="commerce-inpost-review-pane">
  <div class="point-name">
    {{ information.name }}
  </div>
  <div class="address">
    {{ information.address_line1 }} <br>
    {{ information.address_line2 }}
  </div>
  <div class="phone-number">
    {{ information.phone_number }}
  </div>
</div>
